/* line 2, sass/base/_base.scss */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

/* line 12, sass/base/_base.scss */
html {
  font-size: 62.5%; }

/* line 17, sass/base/_base.scss */
body {
  box-sizing: border-box; }

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInButton {
  0% {
    opacity: 0;
    transform: translateY(2rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

/* line 2, sass/base/_typography.scss */
body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: #777;
  padding: 3rem; }

/* line 2, sass/base/_utilities.scss */
.u-center-text {
  text-align: center; }

/* line 6, sass/base/_utilities.scss */
.u-margin-bottom-small {
  margin-bottom: 1.5rem; }

/* line 7, sass/base/_utilities.scss */
.u-margin-bottom-medium {
  margin-bottom: 4rem; }

/* line 8, sass/base/_utilities.scss */
.u-margin-bottom-big {
  margin-bottom: 8rem; }

/* line 7, sass/components/_button.scss */
.btn {
  /* The styles that are defined inside of the animation are now applied before the animation starts (we delayed the animation by .75s!) */ }
  /* line 9, sass/components/_button.scss */
  .btn:link, .btn:visited {
    text-transform: uppercase;
    text-decoration: none;
    font-size: 1.6rem;
    padding: 1.5rem 4rem;
    display: inline-block;
    border-radius: 10rem;
    transition: all .2s;
    position: relative; }
  /* line 20, sass/components/_button.scss */
  .btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
    /* Makes the pseudo button grow and then made invisible */ }
    /* line 25, sass/components/_button.scss */
    .btn:hover::after {
      transform: scaleX(1.4) scaleY(1.6);
      opacity: 0; }
  /* line 31, sass/components/_button.scss */
  .btn:active {
    transform: translateY(-1px);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }
  /* line 36, sass/components/_button.scss */
  .btn--white {
    background-color: #fff;
    color: #777; }
    /* line 40, sass/components/_button.scss */
    .btn--white::after {
      background-color: #fff; }
  /* line 45, sass/components/_button.scss */
  .btn::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 10rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s; }
  /* line 59, sass/components/_button.scss */
  .btn--animated {
    animation: moveInButton .5s ease-out .75s;
    animation-fill-mode: backwards; }

/* line 65, sass/components/_button.scss */
.btn-learn-more {
  transition: all .5s; }
  /* line 68, sass/components/_button.scss */
  .btn-learn-more:link, .btn-learn-more:visited {
    font-size: 1.6rem;
    color: #55c57a;
    display: inline-block;
    text-decoration: none;
    border-bottom: 1px solid #55c57a;
    padding: 3px; }
  /* line 78, sass/components/_button.scss */
  .btn-learn-more:hover {
    background-color: #55c57a;
    color: #fff;
    transform: translateY(-2px);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15); }
  /* line 87, sass/components/_button.scss */
  .btn-learn-more:active {
    transform: translateY(0);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15); }

/* line 6, sass/components/_header.scss */
.header {
  height: 95vh;
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url("../img/hero.jpg");
  background-size: cover;
  background-position: top;
  position: relative;
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%); }
  /* line 20, sass/components/_header.scss */
  .header__logo-box {
    position: absolute;
    top: 4rem;
    left: 4rem; }
  /* line 27, sass/components/_header.scss */
  .header__logo {
    height: 3.5rem; }
  /* line 34, sass/components/_header.scss */
  .header__text-box {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }

/* line 45, sass/components/_header.scss */
.heading-primary {
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 60px;
  backface-visibility: hidden; }
  /* line 52, sass/components/_header.scss */
  .heading-primary--main {
    display: block;
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 3.5rem;
    animation: moveInLeft 1s ease-out; }
  /* line 66, sass/components/_header.scss */
  .heading-primary--sub {
    display: block;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 1.7rem;
    animation: moveInRight 1s ease-out; }

/* line 76, sass/components/_header.scss */
.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  background-image: linear-gradient(to right, #7ed56f, #28b485);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  letter-spacing: .2rem;
  transition: all 1s; }
  /* line 90, sass/components/_header.scss */
  .heading-secondary:hover {
    transform: skewY(2deg) skewX(15deg) scale(1.1);
    text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2); }

/* line 99, sass/components/_header.scss */
.about__box {
  display: flex;
  width: 114rem;
  margin: 0 auto; }

/* line 107, sass/components/_header.scss */
.text__content {
  flex: 0 0 50%; }
  /* line 110, sass/components/_header.scss */
  .text__content--heading {
    font-size: 1.6rem;
    font-weight: 700;
    text-transform: uppercase; }
  /* line 116, sass/components/_header.scss */
  .text__content--sub {
    font-size: 1.6rem; }
    /* line 119, sass/components/_header.scss */
    .text__content--sub:not(:last-child) {
      margin-bottom: 3rem; }

/* line 1, sass/components/_composition.scss */
.composition {
  flex: 0 0 50%;
  position: relative; }
  /* line 7, sass/components/_composition.scss */
  .composition__photo {
    width: 55%;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
    border-radius: 2px;
    position: absolute;
    transition: all .3s;
    z-index: 1;
    outline-offset: 2rem; }
    /* line 16, sass/components/_composition.scss */
    .composition__photo--p1 {
      left: 0;
      top: -2rem; }
    /* line 21, sass/components/_composition.scss */
    .composition__photo--p2 {
      right: 0;
      top: 2rem; }
    /* line 26, sass/components/_composition.scss */
    .composition__photo--p3 {
      left: 20%;
      top: 10rem; }
    /* line 31, sass/components/_composition.scss */
    .composition__photo:hover {
      outline: 1.5rem solid #55c57a;
      transform: scale(1.05) translateY(-0.5rem);
      box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.5);
      z-index: 10; }
  /* line 45, sass/components/_composition.scss */
  .composition:hover .composition__photo:not(:hover) {
    transform: scale(0.85); }

/* line 2, sass/pages/_home.scss */
.section-about {
  background-color: #f7f7f7;
  padding: 25rem 0;
  margin-top: -20vh; }
