/*
0 - 600px:      Phone
600 - 900px:    Tablet Portrait
900 - 1200px:   Tablet Landscape
[1200 - 1800]:  Desktop where our normal styles apply
1800px + :         Big Desktop
*/
/*
$breakpoint arg choices: 
-   phone
-   tab-port
-   tab-landscape
-   big-desktop

ORDER: Base + Typography > General Layout + Grid (I used flex instead) > Page Layout > Components

*/
/* line 2, sass/base/_base.scss */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

/* line 12, sass/base/_base.scss */
html {
  font-size: 62.5%; }
  @media (max-width: 75em) {
    /* line 12, sass/base/_base.scss */
    html {
      font-size: 56.25%; } }
  @media (max-width: 56.25em) {
    /* line 12, sass/base/_base.scss */
    html {
      font-size: 50%; } }
  @media (min-width: 112.5em) {
    /* line 12, sass/base/_base.scss */
    html {
      font-size: 75%; } }

/* line 40, sass/base/_base.scss */
body {
  box-sizing: border-box;
  padding: 3rem; }
  @media (max-width: 56.25em) {
    /* line 40, sass/base/_base.scss */
    body {
      padding: 0; } }

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInButton {
  0% {
    opacity: 0;
    transform: translateY(2rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

/* line 2, sass/base/_typography.scss */
body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: #777; }

/* line 3, sass/base/_utilities.scss */
.u-center-text {
  text-align: center !important; }

/* line 7, sass/base/_utilities.scss */
.u-margin-bottom-small {
  margin-bottom: 1.5rem !important; }

/* line 8, sass/base/_utilities.scss */
.u-margin-bottom-medium {
  margin-bottom: 4rem !important; }
  @media (max-width: 56.25em) {
    /* line 8, sass/base/_utilities.scss */
    .u-margin-bottom-medium {
      margin-bottom: 3rem !important; } }

/* line 15, sass/base/_utilities.scss */
.u-margin-bottom-big {
  margin-bottom: 8rem !important; }
  @media (max-width: 56.25em) {
    /* line 15, sass/base/_utilities.scss */
    .u-margin-bottom-big {
      margin-bottom: 5rem !important; } }

/* line 23, sass/base/_utilities.scss */
.u-margin-top-big {
  margin-top: 8rem !important; }

/* line 24, sass/base/_utilities.scss */
.u-margin-top-huge {
  margin-top: 10rem !important; }

/* line 7, sass/components/_button.scss */
.btn {
  /* The styles that are defined inside of the animation are now applied before the animation starts (we delayed the animation by .75s!) */ }
  /* line 9, sass/components/_button.scss */
  .btn, .btn:link, .btn:visited {
    text-transform: uppercase;
    text-decoration: none;
    font-size: 1.6rem;
    padding: 1.5rem 4rem;
    display: inline-block;
    border-radius: 10rem;
    transition: all .2s;
    position: relative;
    border: none;
    cursor: pointer; }
  /* line 25, sass/components/_button.scss */
  .btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
    /* Makes the pseudo button grow and then made invisible */ }
    /* line 30, sass/components/_button.scss */
    .btn:hover::after {
      transform: scaleX(1.4) scaleY(1.6);
      opacity: 0; }
  /* line 37, sass/components/_button.scss */
  .btn:active, .btn:focus {
    outline: none;
    transform: translateY(-1px);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }
  /* line 44, sass/components/_button.scss */
  .btn--white {
    background-color: #fff;
    color: #777; }
    /* line 48, sass/components/_button.scss */
    .btn--white::after {
      background-color: #fff; }
  /* line 53, sass/components/_button.scss */
  .btn--green {
    background-color: #55c57a;
    color: #fff; }
    /* line 57, sass/components/_button.scss */
    .btn--green::after {
      background-color: #55c57a; }
  /* line 62, sass/components/_button.scss */
  .btn::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 10rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s; }
  /* line 76, sass/components/_button.scss */
  .btn--animated {
    animation: moveInButton .5s ease-out .75s;
    animation-fill-mode: backwards; }

/* line 82, sass/components/_button.scss */
.btn-text {
  transition: all .5s; }
  /* line 85, sass/components/_button.scss */
  .btn-text:link, .btn-text:visited {
    font-size: 1.6rem;
    color: #55c57a;
    display: inline-block;
    text-decoration: none;
    border-bottom: 1px solid #55c57a;
    padding: 3px; }
  /* line 95, sass/components/_button.scss */
  .btn-text:hover {
    background-color: #55c57a;
    color: #fff;
    transform: translateY(-2px);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15); }
  /* line 104, sass/components/_button.scss */
  .btn-text:active {
    transform: translateY(0);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15); }

/* line 6, sass/components/_navigation.scss */
.navigation__checkbox {
  display: none; }

/* line 12, sass/components/_navigation.scss */
.navigation__button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: #fff;
  height: 7rem;
  width: 7rem;
  border-radius: 50%;
  position: fixed;
  top: 6rem;
  right: 6rem;
  z-index: 200;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.1); }
  @media (max-width: 56.25em) {
    /* line 12, sass/components/_navigation.scss */
    .navigation__button {
      top: 4rem;
      right: 4rem; } }
  @media (max-width: 37.5em) {
    /* line 12, sass/components/_navigation.scss */
    .navigation__button {
      top: 3rem;
      right: 3rem; } }

/* line 45, sass/components/_navigation.scss */
.navigation__background {
  height: 6rem;
  width: 6rem;
  border-radius: 50%;
  position: fixed;
  top: 6.5rem;
  right: 6.5rem;
  background-image: radial-gradient(#7ed56f, #28b485);
  z-index: 100;
  transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1); }
  @media (max-width: 56.25em) {
    /* line 45, sass/components/_navigation.scss */
    .navigation__background {
      top: 4.5rem;
      right: 4.5rem; } }
  @media (max-width: 37.5em) {
    /* line 45, sass/components/_navigation.scss */
    .navigation__background {
      top: 3.5rem;
      right: 3.5rem; } }

/* line 70, sass/components/_navigation.scss */
.navigation__nav {
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 150;
  width: 100%;
  visibility: hidden;
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateX(-60rem);
  transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55); }

/* line 90, sass/components/_navigation.scss */
.navigation__list {
  list-style: none;
  text-align: center; }

/* line 95, sass/components/_navigation.scss */
.navigation__item {
  margin: 1rem; }

/* line 102, sass/components/_navigation.scss */
.navigation__link:link, .navigation__link:visited {
  display: inline-block;
  padding: 1rem 2rem;
  font-size: 3rem;
  font-weight: 300;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  background-image: linear-gradient(120deg, transparent 0%, transparent 50%, #fff 50%);
  background-size: 220%;
  transition: all .4s; }

/* line 119, sass/components/_navigation.scss */
.navigation__link:hover, .navigation__link:active {
  background-position: 100%;
  color: #55c57a;
  transform: translateX(1rem); }

/* line 126, sass/components/_navigation.scss */
.navigation__link span {
  margin-right: 1.5rem; }

/* line 134, sass/components/_navigation.scss */
.navigation__checkbox:checked ~ .navigation__background {
  transform: scale(80); }

/* line 138, sass/components/_navigation.scss */
.navigation__checkbox:checked ~ .navigation__nav {
  visibility: visible;
  opacity: 1;
  transform: translateX(0); }

/* line 145, sass/components/_navigation.scss */
.navigation__icon {
  width: 3rem;
  height: 2px;
  background-color: #333;
  display: inline-block;
  transition: all .2s; }
  /* line 173, sass/components/_navigation.scss */
  .navigation__icon:first-child {
    margin-top: 2px; }
  /* line 177, sass/components/_navigation.scss */
  .navigation__icon:not(:last-child) {
    margin-bottom: 6px; }

/* line 184, sass/components/_navigation.scss */
.navigation__icon-container {
  display: flex;
  flex-direction: column; }

/* line 194, sass/components/_navigation.scss */
.navigation__button:hover > .navigation__icon-container > .navigation__icon:first-child {
  transform: translateY(-2px); }

/* line 198, sass/components/_navigation.scss */
.navigation__button:hover > .navigation__icon-container > .navigation__icon:last-child {
  transform: translateY(2px); }

/* line 204, sass/components/_navigation.scss */
.navigation__checkbox:checked + .navigation__button > .navigation__icon-container > .navigation__icon:first-child {
  transform: rotate(135deg) translateX(2px) translateY(-2px);
  margin: 0; }

/* line 209, sass/components/_navigation.scss */
.navigation__checkbox:checked + .navigation__button > .navigation__icon-container > .navigation__icon:nth-child(2) {
  background-color: transparent;
  margin: 0; }

/* line 214, sass/components/_navigation.scss */
.navigation__checkbox:checked + .navigation__button > .navigation__icon-container > .navigation__icon:last-child {
  transform: rotate(-135deg) translateX(1px) translateY(1px); }

/* line 6, sass/components/_header.scss */
.header {
  height: 95vh;
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url("../img/hero.jpg");
  background-size: cover;
  background-position: top;
  position: relative;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%); }
  @media (max-width: 37.5em) {
    /* line 6, sass/components/_header.scss */
    .header {
      -webkit-clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);
      clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%); } }
  /* line 25, sass/components/_header.scss */
  .header__logo-box {
    position: absolute;
    top: 4rem;
    left: 4rem; }
  /* line 32, sass/components/_header.scss */
  .header__logo {
    height: 3.5rem; }
  /* line 39, sass/components/_header.scss */
  .header__text-box {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }

/* line 51, sass/components/_header.scss */
.heading-primary {
  display: flex;
  flex-direction: column;
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 60px;
  backface-visibility: hidden; }
  /* line 61, sass/components/_header.scss */
  .heading-primary--main {
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 3.5rem;
    animation: moveInLeft 1s ease-out; }
    @media (max-width: 37.5em) {
      /* line 61, sass/components/_header.scss */
      .heading-primary--main {
        letter-spacing: 1rem;
        font-size: 5rem; } }
  /* line 79, sass/components/_header.scss */
  .heading-primary--sub {
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 1.75rem;
    animation: moveInRight 1s ease-out; }
    @media (max-width: 37.5em) {
      /* line 79, sass/components/_header.scss */
      .heading-primary--sub {
        letter-spacing: .5rem; } }

/* line 92, sass/components/_header.scss */
.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  background-image: linear-gradient(to right, #7ed56f, #28b485);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  letter-spacing: .2rem;
  transition: all 1s; }
  /* line 106, sass/components/_header.scss */
  .heading-secondary:hover {
    transform: skewY(2deg) skewX(15deg) scale(1.1);
    text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2); }
  @media (max-width: 56.25em) {
    /* line 92, sass/components/_header.scss */
    .heading-secondary {
      font-size: 3rem; } }
  @media (max-width: 37.5em) {
    /* line 92, sass/components/_header.scss */
    .heading-secondary {
      font-size: 2.5rem; } }

/* line 120, sass/components/_header.scss */
.heading-tertiary {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase; }

/* line 8, sass/components/_about.scss */
.about__box {
  display: flex;
  max-width: 114rem;
  margin: 0 auto; }
  @media (max-width: 56.25em) {
    /* line 8, sass/components/_about.scss */
    .about__box {
      flex-direction: column;
      max-width: 50rem;
      height: 60rem;
      padding: 0 3rem; } }

/* line 26, sass/components/_about.scss */
.text__content {
  flex: 0 0 50%;
  margin-right: 6rem; }
  @media (max-width: 56.25em) {
    /* line 26, sass/components/_about.scss */
    .text__content {
      margin-right: 0;
      margin-bottom: 8rem; } }
  /* line 35, sass/components/_about.scss */
  .text__content--heading {
    font-size: 1.6rem;
    font-weight: 700;
    text-transform: uppercase; }
  /* line 41, sass/components/_about.scss */
  .text__content--sub {
    font-size: 1.6rem; }
    /* line 44, sass/components/_about.scss */
    .text__content--sub:not(:last-child) {
      margin-bottom: 3rem; }

/* line 50, sass/components/_about.scss */
.composition {
  flex: 0 1 50%;
  position: relative; }
  /* line 57, sass/components/_about.scss */
  .composition__photo {
    width: 55%;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
    border-radius: 2px;
    position: absolute;
    transition: all .3s;
    z-index: 1;
    outline-offset: 2rem; }
    /* line 66, sass/components/_about.scss */
    .composition__photo--p1 {
      left: 0;
      top: -2rem; }
      @media (max-width: 56.25em) {
        /* line 66, sass/components/_about.scss */
        .composition__photo--p1 {
          left: -10rem;
          top: 1rem; } }
    /* line 76, sass/components/_about.scss */
    .composition__photo--p2 {
      right: 0;
      top: 2rem; }
      @media (max-width: 56.25em) {
        /* line 76, sass/components/_about.scss */
        .composition__photo--p2 {
          right: -9rem;
          top: 1rem; } }
    /* line 86, sass/components/_about.scss */
    .composition__photo--p3 {
      left: 20%;
      top: 10rem; }
      @media (max-width: 56.25em) {
        /* line 86, sass/components/_about.scss */
        .composition__photo--p3 {
          top: -2rem; } }
    /* line 95, sass/components/_about.scss */
    .composition__photo:hover {
      outline: 1.5rem solid #55c57a;
      transform: scale(1.05) translateY(-0.5rem);
      box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.5);
      z-index: 10; }
  /* line 109, sass/components/_about.scss */
  .composition:hover .composition__photo:not(:hover) {
    transform: scale(0.85); }

/* line 3, sass/components/_features.scss */
.features {
  display: flex;
  max-width: 114rem;
  margin: 0 auto;
  justify-content: space-between; }
  @media (max-width: 56.25em) {
    /* line 3, sass/components/_features.scss */
    .features {
      flex-direction: column;
      max-width: 50rem; } }
  @media (max-width: 37.5em) {
    /* line 3, sass/components/_features.scss */
    .features {
      padding: 0 3rem; } }
  /* line 19, sass/components/_features.scss */
  .features__box {
    display: flex;
    flex-direction: column;
    flex: 0 0 21%;
    background-color: rgba(255, 255, 255, 0.8);
    font-size: 1.5rem;
    padding: 2.5rem;
    text-align: center;
    border-radius: 3px;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
    transition: transform .3s; }
    @media (max-width: 56.25em) {
      /* line 35, sass/components/_features.scss */
      .features__box:not(:last-child) {
        margin-bottom: 6rem; } }
    @media (max-width: 56.25em) {
      /* line 19, sass/components/_features.scss */
      .features__box {
        padding: 2rem; } }
    /* line 45, sass/components/_features.scss */
    .features__box--icon {
      font-size: 6rem;
      margin-bottom: .5rem;
      background-image: linear-gradient(to right, #7ed56f, #28b485);
      -webkit-background-clip: text;
      background-clip: text;
      color: transparent; }
      @media (max-width: 56.25em) {
        /* line 45, sass/components/_features.scss */
        .features__box--icon {
          margin-bottom: 0; } }
    /* line 58, sass/components/_features.scss */
    .features__box--heading {
      font-size: 1.6rem;
      font-weight: 700;
      text-transform: uppercase; }
    /* line 64, sass/components/_features.scss */
    .features__box:hover {
      transform: translateY(-1rem) scale(1.03); }

/* line 3, sass/components/_cards.scss */
.cards {
  display: flex;
  max-width: 114rem;
  margin: 0 auto;
  justify-content: space-between; }
  @media (max-width: 56.25em) {
    /* line 3, sass/components/_cards.scss */
    .cards {
      flex-direction: column;
      height: 255rem;
      max-width: 50rem; } }
  @media (max-width: 37.5em) {
    /* line 3, sass/components/_cards.scss */
    .cards {
      padding: 0 3rem; } }

/* line 22, sass/components/_cards.scss */
.card {
  perspective: 150rem;
  -moz-perspective: 150rem;
  height: 52rem;
  flex: 0 0 30%;
  position: relative; }
  /* line 37, sass/components/_cards.scss */
  .card__side {
    font-size: 2rem;
    height: 52rem;
    transition: all .8s ease;
    border-radius: 3px;
    overflow: hidden;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    backface-visibility: hidden; }
    /* line 55, sass/components/_cards.scss */
    .card__side--front {
      background-color: #fff; }
    /* line 60, sass/components/_cards.scss */
    .card__side--back {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
      transform: rotateY(180deg); }
      /* line 67, sass/components/_cards.scss */
      .card__side--back-1 {
        background-image: linear-gradient(to right bottom, #ffb900, #ff7730); }
      /* line 71, sass/components/_cards.scss */
      .card__side--back-2 {
        background-image: linear-gradient(to right bottom, #7ed56f, #28b485); }
      /* line 75, sass/components/_cards.scss */
      .card__side--back-3 {
        background-image: linear-gradient(to right bottom, #2998ff, #5643fa); }
  /* line 82, sass/components/_cards.scss */
  .card:hover .card__side--front {
    transform: rotateY(-180deg); }
  /* line 86, sass/components/_cards.scss */
  .card:hover .card__side--back {
    transform: rotateY(0); }
  /* line 91, sass/components/_cards.scss */
  .card__picture {
    background-size: cover;
    height: 23rem;
    background-blend-mode: screen;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%); }
    /* line 100, sass/components/_cards.scss */
    .card__picture--1 {
      background-image: linear-gradient(to right bottom, #ffb900, #ff7730), url(../img/nat-5.jpg); }
    /* line 105, sass/components/_cards.scss */
    .card__picture--2 {
      background-image: linear-gradient(to right bottom, #7ed56f, #28b485), url(../img/nat-6.jpg); }
    /* line 110, sass/components/_cards.scss */
    .card__picture--3 {
      background-image: linear-gradient(to right bottom, #2998ff, #5643fa), url(../img/nat-7.jpg); }
  /* line 116, sass/components/_cards.scss */
  .card__heading {
    font-size: 2.8rem;
    font-weight: 300;
    text-transform: uppercase;
    text-align: right;
    color: #fff;
    position: absolute;
    top: 12rem;
    right: 2rem;
    width: 75%; }
  /* line 129, sass/components/_cards.scss */
  .card__heading-span {
    padding: 1rem 1.5rem;
    -webkit-box-decoration-break: clone; }
    /* line 134, sass/components/_cards.scss */
    .card__heading-span--1 {
      background-image: linear-gradient(to right bottom, rgba(255, 185, 0, 0.85), rgba(255, 119, 48, 0.85)); }
    /* line 140, sass/components/_cards.scss */
    .card__heading-span--2 {
      background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.85), rgba(40, 180, 133, 0.85)); }
    /* line 146, sass/components/_cards.scss */
    .card__heading-span--3 {
      background-image: linear-gradient(to right bottom, rgba(41, 152, 255, 0.85), rgba(86, 67, 250, 0.85)); }
  /* line 153, sass/components/_cards.scss */
  .card__details {
    padding: 3rem; }
    /* line 156, sass/components/_cards.scss */
    .card__details ul {
      list-style: none;
      width: 80%;
      margin: 0 auto; }
      /* line 161, sass/components/_cards.scss */
      .card__details ul li {
        text-align: center;
        font-size: 1.5rem;
        padding: 1rem; }
        /* line 166, sass/components/_cards.scss */
        .card__details ul li:not(:last-child) {
          border-bottom: 1px solid #eee; }
  /* line 184, sass/components/_cards.scss */
  .card__price-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff; }
  /* line 192, sass/components/_cards.scss */
  .card__price-only {
    font-size: 1.4rem;
    text-transform: uppercase; }
  /* line 197, sass/components/_cards.scss */
  .card__price-value {
    font-size: 6rem;
    font-weight: 100; }
  @media (max-width: 56.25em) {
    /* line 22, sass/components/_cards.scss */
    .card {
      height: auto;
      border-radius: 3px;
      background-color: #fff;
      box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15); }
      /* line 209, sass/components/_cards.scss */
      .card__side {
        font-size: 2rem;
        height: auto;
        box-shadow: none;
        position: relative; }
        /* line 218, sass/components/_cards.scss */
        .card__side--back {
          display: flex;
          flex-direction: column;
          justify-content: space-evenly;
          align-items: center;
          transform: rotateY(0);
          clip-path: polygon(0 15%, 100% 0, 100% 100%, 0 100%);
          height: 30rem; }
      /* line 232, sass/components/_cards.scss */
      .card:hover .card__side--front {
        transform: rotateY(0); }
      /* line 237, sass/components/_cards.scss */
      .card__price-only {
        font-size: 1.4rem;
        text-transform: uppercase; }
      /* line 242, sass/components/_cards.scss */
      .card__price-value {
        font-size: 4rem; } }

/* line 3, sass/components/_story.scss */
.stories {
  max-width: 114rem;
  height: 63rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between; }
  @media (max-width: 56.25em) {
    /* line 3, sass/components/_story.scss */
    .stories {
      height: 90rem;
      max-width: 50rem; } }
  @media (max-width: 37.5em) {
    /* line 3, sass/components/_story.scss */
    .stories {
      height: 80rem; } }

/* line 29, sass/components/_story.scss */
.story {
  width: 75%;
  box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.1);
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 3px;
  padding: 6rem;
  padding-left: 9rem;
  font-size: 1.6rem;
  transform: skewX(-12deg); }
  @media (max-width: 56.25em) {
    /* line 29, sass/components/_story.scss */
    .story {
      width: 100%; } }
  @media (max-width: 37.5em) {
    /* line 29, sass/components/_story.scss */
    .story {
      padding: 4rem;
      padding-left: 7rem;
      transform: skewX(0); } }
  /* line 57, sass/components/_story.scss */
  .story__shape {
    position: relative;
    width: 15rem;
    height: 15rem;
    float: left;
    shape-outside: circle(50% at 50% 50%);
    -webkit-shape-outside: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);
    -webkit-clip-path: circle(50% at 50% 50%);
    transform: translateX(-3rem) skewX(12deg);
    overflow: hidden; }
    @media (max-width: 37.5em) {
      /* line 57, sass/components/_story.scss */
      .story__shape {
        transform: translateX(-3rem) skewX(0); } }
  /* line 79, sass/components/_story.scss */
  .story__img {
    height: 100%;
    transform: translateX(-3.5rem) scale(1.4);
    transition: all .5s;
    backface-visibility: hidden; }
  /* line 88, sass/components/_story.scss */
  .story__caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 20%);
    color: #fff;
    text-transform: uppercase;
    font-size: 1.7rem;
    text-align: center;
    opacity: 0;
    transition: all .5s;
    backface-visibility: hidden; }
  /* line 102, sass/components/_story.scss */
  .story__text {
    transform: skewX(12deg); }
    @media (max-width: 37.5em) {
      /* line 102, sass/components/_story.scss */
      .story__text {
        transform: skewX(0); } }
  /* line 110, sass/components/_story.scss */
  .story__heading {
    font-weight: 700;
    text-transform: uppercase; }
  /* line 115, sass/components/_story.scss */
  .story:hover .story__caption {
    transform: translate(-50%, -50%);
    opacity: 1; }
  /* line 120, sass/components/_story.scss */
  .story:hover .story__img {
    transform: translateX(-3.5rem) scale(1);
    filter: blur(3px) brightness(80%); }

/* line 2, sass/components/_bg-video.scss */
.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: .15; }
  /* line 14, sass/components/_bg-video.scss */
  .bg-video__content {
    height: 100%;
    width: 100%;
    object-fit: cover; }

/* line 3, sass/components/_form.scss */
.form__group:not(:last-child) {
  margin-bottom: 2rem; }

/* line 8, sass/components/_form.scss */
.form__input {
  font-size: 1.5rem;
  font-family: inherit;
  color: inherit;
  padding: 1.5rem 2rem;
  border-radius: 2px;
  background-color: rgba(255, 255, 255, 0.5);
  border: none;
  border-bottom: 3px solid transparent;
  width: 90%;
  display: block;
  transition: all .3s; }
  /* line 23, sass/components/_form.scss */
  .form__input:focus {
    outline: none;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
    border-bottom: 3px solid #55c57a; }
    /* line 28, sass/components/_form.scss */
    .form__input:focus:invalid {
      border-bottom: 3px solid #ff7730; }
  /* line 33, sass/components/_form.scss */
  .form__input::-webkit-input-placeholder {
    color: #999; }

/* line 38, sass/components/_form.scss */
.form__label {
  font-size: 1.2rem;
  font-weight: 700;
  margin-left: 2rem;
  margin-top: .7rem;
  display: block;
  transition: all .3s; }

/* line 50, sass/components/_form.scss */
.form__input:placeholder-shown + .form__label {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-4rem); }

/* line 57, sass/components/_form.scss */
.form__radio-group {
  position: relative; }

/* line 62, sass/components/_form.scss */
.form__radio-input {
  display: none; }

/* line 66, sass/components/_form.scss */
.form__radio-label {
  font-size: 1.6rem;
  cursor: pointer;
  padding-left: 4.5rem; }

/* line 73, sass/components/_form.scss */
.form__radio-button {
  height: 3rem;
  width: 3rem;
  border: 5px solid #55c57a;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  top: -.1rem;
  left: 0; }
  /* line 85, sass/components/_form.scss */
  .form__radio-button::after {
    content: "";
    display: block;
    background-color: #55c57a;
    height: 1.3rem;
    width: 1.3rem;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity .2s; }

/* line 102, sass/components/_form.scss */
.form__radio-input:checked ~ .form__radio-label .form__radio-button::after {
  opacity: 1; }

/* line 108, sass/components/_form.scss */
.radio-container {
  display: flex;
  justify-content: space-between;
  width: 85%; }

/* line 7, sass/components/_footer.scss */
.footer {
  background-color: #333;
  padding: 10rem 0;
  font-size: 1.4rem;
  color: #fff; }
  @media (max-width: 56.25em) {
    /* line 7, sass/components/_footer.scss */
    .footer {
      padding: 8rem 0; } }
  /* line 19, sass/components/_footer.scss */
  .footer__logo-box {
    display: flex;
    justify-content: center;
    margin-bottom: 8rem; }
    @media (max-width: 56.25em) {
      /* line 19, sass/components/_footer.scss */
      .footer__logo-box {
        margin-bottom: 6rem; } }
  /* line 29, sass/components/_footer.scss */
  .footer__logo {
    width: 15rem;
    height: auto; }
  /* line 34, sass/components/_footer.scss */
  .footer__container {
    max-width: 114rem;
    margin: 0 auto;
    display: flex;
    justify-content: space-between; }
    @media (max-width: 56.25em) {
      /* line 34, sass/components/_footer.scss */
      .footer__container {
        max-width: 50rem;
        flex-direction: column; } }
    @media (max-width: 37.5em) {
      /* line 34, sass/components/_footer.scss */
      .footer__container {
        padding: 0 3rem; } }
  /* line 50, sass/components/_footer.scss */
  .footer__navigation-container {
    flex-basis: 40%; }
    @media (max-width: 56.25em) {
      /* line 50, sass/components/_footer.scss */
      .footer__navigation-container {
        margin-bottom: 4rem; } }
  /* line 58, sass/components/_footer.scss */
  .footer__copyright-container {
    flex-basis: 40%; }
    @media (max-width: 56.25em) {
      /* line 58, sass/components/_footer.scss */
      .footer__copyright-container {
        text-align: center; } }
  /* line 66, sass/components/_footer.scss */
  .footer__navigation {
    border-top: 1px solid #777;
    padding-top: 2rem; }
  /* line 71, sass/components/_footer.scss */
  .footer__list {
    display: flex;
    justify-content: space-between;
    list-style: none; }
    @media (max-width: 56.25em) {
      /* line 71, sass/components/_footer.scss */
      .footer__list {
        justify-content: space-between; } }
  /* line 88, sass/components/_footer.scss */
  .footer__link:link, .footer__link:visited {
    color: #f7f7f7;
    background-color: #333;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    transition: all .2s; }
  /* line 98, sass/components/_footer.scss */
  .footer__link:hover, .footer__link:active {
    color: #55c57a;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4);
    transform: rotate(-5deg) scale(1.15); }
  /* line 106, sass/components/_footer.scss */
  .footer__copyright {
    border-top: 1px solid #777;
    padding-top: 2rem; }

/* line 1, sass/components/_popup.scss */
.popup {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 10000;
  visibility: hidden;
  opacity: 0;
  transition: all .3s; }
  /* line 20, sass/components/_popup.scss */
  .popup:target {
    visibility: visible;
    opacity: 1; }
  /* line 25, sass/components/_popup.scss */
  .popup:target .popup__content {
    opacity: 1;
    transform: scale(1); }
  /* line 31, sass/components/_popup.scss */
  .popup__content {
    display: flex;
    background-color: #fff;
    width: 75%;
    border-radius: 3px;
    box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.2);
    overflow: hidden;
    transition: all .5s .2s;
    opacity: 0;
    transform: scale(0.25); }
  /* line 47, sass/components/_popup.scss */
  .popup__images {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 33.33333%;
    box-shadow: 0 2rem 2rem rgba(0, 0, 0, 0.2); }
  /* line 55, sass/components/_popup.scss */
  .popup__img {
    width: 100%;
    height: 50%; }
  /* line 60, sass/components/_popup.scss */
  .popup__text {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 66.666667%;
    padding: 3rem 5rem; }
  /* line 69, sass/components/_popup.scss */
  .popup__paragraph {
    font-size: 1.4rem;
    margin-bottom: 4rem;
    column-count: 2;
    column-gap: 4rem;
    column-rule: 1px solid #eee;
    hyphens: auto;
    -webkit-hyphens: auto; }
  /* line 82, sass/components/_popup.scss */
  .popup__btn {
    align-self: flex-start; }
  /* line 87, sass/components/_popup.scss */
  .popup__close:link, .popup__close:visited {
    color: #777;
    position: absolute;
    top: 2.5rem;
    right: 4.5rem;
    font-size: 3rem;
    line-height: 1;
    text-decoration: none;
    display: inline-block;
    transition: all .2s; }
  /* line 101, sass/components/_popup.scss */
  .popup__close:hover {
    color: #55c57a; }

/* line 2, sass/pages/_home.scss */
.section-about {
  background-color: #f7f7f7;
  padding: 25rem 0;
  margin-top: -20vh; }
  @media (max-width: 56.25em) {
    /* line 2, sass/pages/_home.scss */
    .section-about {
      padding: 20rem 0; } }

/* line 15, sass/pages/_home.scss */
.section-features {
  padding: 20rem 0;
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url("../img/nat-4.jpg");
  background-size: cover;
  transform: skewY(-7deg);
  margin-top: -12rem; }
  /* line 26, sass/pages/_home.scss */
  .section-features > * {
    transform: skewY(7deg); }
  @media (max-width: 56.25em) {
    /* line 15, sass/pages/_home.scss */
    .section-features {
      padding: 10rem 0; } }

/* line 35, sass/pages/_home.scss */
.section-tours {
  background-color: #f7f7f7;
  padding: 25rem 0 15rem 0;
  margin-top: -11rem; }
  @media (max-width: 56.25em) {
    /* line 35, sass/pages/_home.scss */
    .section-tours {
      padding: 25rem 0 10rem 0; } }

/* line 45, sass/pages/_home.scss */
.section-stories {
  position: relative;
  padding: 15rem 0; }
  @media (max-width: 56.25em) {
    /* line 45, sass/pages/_home.scss */
    .section-stories {
      padding: 10rem 0; } }

/* line 54, sass/pages/_home.scss */
.section-book {
  padding: 15rem 0;
  background-image: linear-gradient(to right bottom, #7ed56f, #28b485); }
  @media (max-width: 56.25em) {
    /* line 54, sass/pages/_home.scss */
    .section-book {
      padding: 10rem 0; } }

/* line 63, sass/pages/_home.scss */
.booking {
  max-width: 114rem;
  margin: 0 auto; }

/* line 71, sass/pages/_home.scss */
.book {
  background-image: linear-gradient(105deg, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.9) 49.9%, transparent 50%), url(../img/nat-10.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.2); }
  @media (max-width: 43.75em) {
    /* line 71, sass/pages/_home.scss */
    .book {
      background-image: linear-gradient(105deg, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.9) 60%, transparent 60%), url(../img/nat-10.jpg); } }
  @media (max-width: 37.5em) {
    /* line 71, sass/pages/_home.scss */
    .book {
      background-image: linear-gradient(105deg, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.9) 70%, transparent 70%), url(../img/nat-10.jpg); } }
  /* line 86, sass/pages/_home.scss */
  .book__form {
    width: 50%;
    padding: 6rem; }
    @media (max-width: 43.75em) {
      /* line 86, sass/pages/_home.scss */
      .book__form {
        width: 60%; } }
    @media (max-width: 37.5em) {
      /* line 86, sass/pages/_home.scss */
      .book__form {
        width: 70%; } }
