// // With float, calc is used for math equations, in this case its used to calculate the width the items should be
// // It takes 100% of the width (114rem) minus 8 rem and then divide by 2 to get X rem
// // Harder than it looks but flexbox is just way easier
// .row {
//     max-width: $grid-width;
//     background-color: #eee;
//     margin: 0 auto;

//     &:not(:last-child) {
//         margin-bottom: $gutter-vertical;
//     }

//     @include clearfix;

//     // Select all classes which have a class of col- (this could also be used to select attributes like src or href)
//     [class^="col-"] {
//         background-color: orangered;
//         float: left;

//         &:not(:last-child) {
//             margin-right: $gutter-horizontal;
//         }
//     }

//     .col-1-of-2 {
//         width: calc((100% - #{$gutter-horizontal}) / 2);        
//     }

//     // It takes 100% of the width but subtract the 2 gutters that we want and then divide that width by 3
//     .col-1-of-3 {
//         width: calc((100% - 2 * #{$gutter-horizontal}) / 3);        
//     }

//     .col-2-of-3 {
//         width: calc(2 * ((100% - 2 * #{$gutter-horizontal}) / 3) + #{$gutter-horizontal});        
//     }

//     .col-1-of-4 {
//         width: calc((100% - 3 * #{$gutter-horizontal}) / 4);
//     }

//     // Take two times the width of a column that has 3 gutters between it and has been separated in 4 but add up the space of 1 gutter
//     // So 2 columns like above without the gutter between them
//     .col-2-of-4 {
//         width:calc(2 * ((100% - 3 * #{$gutter-horizontal}) / 4) + #{$gutter-horizontal}) ;
//     }

//     .col-3-of-4 {
//         width: calc(3 * ((100% - 3 * #{$gutter-horizontal}) / 4) + 2 * #{$gutter-horizontal});
//     }
// }

// Flex all the way 
// .row {
//     color: #fff;
//     font-size: 2rem;
    
//     max-width: $grid-width;
//     background-color: #eee;
//     margin: 0 auto;
//     display: flex;
//     justify-content: space-between;
    

//     &:not(:last-child) {
//         margin-bottom: $gutter-vertical;
//     }

//     > * {
//         background-image: linear-gradient(to bottom, $color-primary, $color-primary-dark);
//         padding: 2.5rem;
        

//         &:not(:last-child) {
//             margin-right: $gutter-horizontal;
//         }
//     }

//     .col-1-of-2 {        
//         flex-grow: 1;       
//     }

//     .col-1-of-3 {
//         flex-grow: 1;
//     }

//     .col-2-of-3 {
//         flex-grow: 2;
//     }

//     .col-1-of-4 {
//         flex: 1;
//     }

//     .col-2-of-4 {
//         flex: 2;
//     }

//     .col-3-of-4 {
//         flex: 2;
//     }
// }
