// background color on the section-stories prevented the video from displaying behind the content
.bg-video {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: .15;
    
    // not needed?
    // overflow: hidden;

    &__content {
        height: 100%;
        width: 100%;

        // maintains the aspect ratio of the video so it uses all of section-stories space (same like background cover)
        object-fit: cover;
    }
}