// /* 
//     Set to inline-block instead of inline so to give it some padding
//     Transition is set to all properties (?) and it has to be set on the initial state, this state is where the translate is used on
//     The transition property allows you to define / control the transition between two states of an element
//     now we can say how the animation runs between start and end state, in this case it makes the effect run smoothly instead of snappy
// */
.btn {   

    &, &:link, &:visited {
        text-transform: uppercase;
        text-decoration: none;
        font-size: $default-font-size;
        padding: 1.5rem 4rem;
        display: inline-block;
        border-radius: 10rem;
        transition: all .2s;
        position: relative;

        // Change for the <button> element
        // Has to be in here because we still want these above styles on our button with the class btn applied as well (I got really confused on this)  
        border: none;
        cursor: pointer;              
    }

    &:hover {
        transform: translateY(-3px);
        box-shadow: 0 1rem 2rem rgba($color-black, .2);

        /* Makes the pseudo button grow and then made invisible */
        &::after {
            transform: scaleX(1.4) scaleY(1.6);
            opacity: 0;
        }
    }

    // &:focus and outline: none added later during form button, so we don't the blue outline on clicking but rather the box shadow effect happening    
    &:active,
    &:focus {
        outline: none;
        transform: translateY(-1px);
        box-shadow: 0 .5rem 1rem rgba($color-black, .2);
    }

    &--white {
        background-color: $color-white;
        color: $color-grey-dark;

        &::after {
            background-color: $color-white;
        }
    }

    &--green {
        background-color: $color-primary;
        color: $color-white;

        &::after {
            background-color: $color-primary;
        }
    }

    &::after {
        content: "";
        display: inline-block;
        height: 100%;
        width: 100%;
        border-radius: 10rem;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        transition: all .4s;
    }
    
    /* The styles that are defined inside of the animation are now applied before the animation starts (we delayed the animation by .75s!) */
    &--animated {    
        animation: moveInButton .5s ease-out .75s;
        animation-fill-mode: backwards;
    }
}

.btn-text {
    transition: all .5s;

    &:link,
    &:visited {
        font-size: $default-font-size;
        color: $color-primary;
        display: inline-block;
        text-decoration: none;
        border-bottom: 1px solid $color-primary;
        padding: 3px;
    }

    &:hover {
        background-color: $color-primary;
        color: #fff;
        transform: translateY(-2px);

        // x - y - blur - color and opacity
        box-shadow: 0 1rem 2rem rgba($color-black, .15);
    }

    &:active {
        transform: translateY(0);
        box-shadow: 0 .5rem 1rem rgba($color-black, .15);
    }
}