.composition {
    flex: 0 0 50%;
    position: relative;
    

    // Always try to define images with % values and also the absolute pos like left: 20% 
    &__photo {
        width: 55%;
        box-shadow: 0 1.5rem 4rem rgba($color-black, .4);
        border-radius: 2px;
        position: absolute;
        transition: all .3s;
        z-index: 1;
        outline-offset: 2rem;

        &--p1 {
            left: 0;
            top: -2rem;
        }

        &--p2 {
            right: 0;
            top: 2rem;
        }

        &--p3 {
            left: 20%;
            top: 10rem;
        }
        
        &:hover {
            // !Can also be used instead of outline
            // border: 1.5rem solid $color-primary;
            // padding: 2.5rem;
            // box-sizing: content-box;

            outline: 1.5rem solid $color-primary;
            transform: scale(1.05) translateY(-.5rem);
            box-shadow: 0 2.5rem 4rem rgba($color-black, .5);
            z-index: 10;
        }
    }

    //composition:hover composition__photo:not(:hover)
    &:hover &__photo:not(:hover) {
        transform: scale(.85);
    }

}