// Changed this from using margin-right and such to just using space-between and flex-basis for the items

.features {
    display: flex;    
    max-width: $grid-width;
    margin: 0 auto;
    justify-content: space-between;

    @include respond(tab-port) {
        flex-direction: column;
        max-width: $grid-width-900;
    }

    @include respond(phone) {
        padding: $padding-phone;
    }
        

    &__box {
        display: flex;
        flex-direction: column;

        // 21% looks better with the text
        flex: 0 0 21%;

        background-color: rgba($color: #fff, $alpha: .8);
        font-size: 1.5rem;
        padding: 2.5rem;
        text-align: center;
        border-radius: 3px;
        box-shadow: 0 1.5rem 4rem rgba($color: $color-black, $alpha: .15);

        transition: transform .3s;

        &:not(:last-child) {
            @include respond(tab-port) {
                margin-bottom: 6rem;
            }
        }
        
        @include respond(tab-port) {
            padding: 2rem;
        }

        &--icon {
            font-size: 6rem;
            margin-bottom: .5rem;
            background-image: linear-gradient(to right, $color-primary-light, $color-primary-dark);
            -webkit-background-clip: text;
            background-clip: text;    
            color: transparent;

            @include respond(tab-port) {
                margin-bottom: 0;
            }
        }
        // Jonas uses an utility class for tertiary headings (h3) 
        &--heading {
            font-size: $default-font-size;
            font-weight: 700;
            text-transform: uppercase;
        }

        &:hover {
            transform: translateY(-1rem) scale(1.03);
        }
    }   
}