.features {
    display: flex;    
    width: $grid-width;
    margin: 0 auto;
        

    &__box {
        display: flex;
        flex-direction: column;

        background-color: rgba($color: #fff, $alpha: .8);
        font-size: 1.5rem;
        padding: 2.5rem;
        text-align: center;
        border-radius: 3px;
        box-shadow: 0 1.5rem 4rem rgba($color: $color-black, $alpha: .15);

        transition: transform .3s;

        &:not(:last-child) {
            margin-right: 6rem;
        }

        &--icon {
            font-size: 6rem;
            margin-bottom: .5rem;
            background-image: linear-gradient(to right, $color-primary-light, $color-primary-dark);
            -webkit-background-clip: text;
            background-clip: text;    
            color: transparent;
        }
        // Jonas uses an utility class for tertiary headings (h3) 
        &--heading {
            font-size: $default-font-size;
            font-weight: 700;
            text-transform: uppercase;
        }

        &:hover {
            transform: translateY(-1rem) scale(1.03);
        }
    }   
}