// I did this completely different with flexbox and got 98% of it looking the same
// I fixed issues with adding containers around the nav and copyright and using flex-basis on the copyright column to make it look better

.footer {
    background-color: $color-grey-dark-3;
    padding: 10rem 0;
    font-size: 1.4rem;
    color: $color-white;

    // text-align center can also be used since it's an inline-element (which always behave like text)
    // for reasons unknown this makes the height of the content slightly larger (from 119px with flex to 125px with text-align)
    &__logo-box {
        display: flex;
        justify-content: center;
    }

    &__logo {
        width: 15rem;
        height: auto;
    }

    &__container {
        max-width: $grid-width;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
    }

    &__navigation-container {
        display: flex;
        margin-right: $gutter-horizontal;
    }

    &__copyright-container {
        flex-basis: 36%;
    }

    &__navigation {
        border-top: 1px solid $color-grey-dark;
        padding-top: 2rem;
        display: inline-block;
    }

    &__list {
        display: flex;
        list-style: none;
    }    
    

    &__item {

        &:not(:last-child) {
            margin-right: 1.5rem;
        }        
    }

    &__link {
        

        &:link,
        &:visited {
            color: $color-grey-light-1;
            background-color: $color-grey-dark-3;
            text-decoration: none;
            text-transform: uppercase;
            display: inline-block;
            transition: all .2s;
        }
        
        &:hover,
        &:active {
            color: $color-primary;
            box-shadow: 0 1rem 2rem rgba($color-black, .4);
            transform: rotate(-5deg) scale(1.15);
        }
    }
    
    &__copyright {
        border-top: 1px solid $color-grey-dark;
        padding-top: 2rem;        
    }
}