// I did this completely different with flexbox and got 98% of it looking the same
// I fixed issues with adding containers around the nav and copyright and using flex-basis on the copyright column to make it look better

// Changed a lot during media queries part, made containers both 40% flex basis which in turn gave more space to the navigation container
// so now I could make use of justify-content to space things instead of adding margin-right to every item

.footer {
    background-color: $color-grey-dark-3;
    padding: 10rem 0;
    font-size: 1.4rem;
    color: $color-white;

    @include respond(tab-port) {
        padding: 8rem 0;
    }

    // text-align center can also be used since it's an inline-element (which always behave like text)
    // for reasons unknown this makes the height of the content slightly larger (from 119px with flex to 125px with text-align)
    &__logo-box {
        display: flex;
        justify-content: center;
        margin-bottom: 8rem;

        @include respond(tab-port) {
            margin-bottom: 6rem;
        }
    }

    &__logo {
        width: 15rem;
        height: auto;
    }

    &__container {
        max-width: $grid-width;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;

        @include respond(tab-port) {
            max-width: $grid-width-900;
            flex-direction: column;
        }

        @include respond(phone) {
            padding: $padding-phone;
        }
    }

    &__navigation-container {
        flex-basis: 40%;

        @include respond(tab-port) {
            margin-bottom: 4rem;
        }        
    }

    &__copyright-container {
        flex-basis: 40%;

        @include respond(tab-port) {
            text-align: center;            
        }   
    }

    &__navigation {
        border-top: 1px solid $color-grey-dark;
        padding-top: 2rem;
    }

    &__list {
        display: flex;
        justify-content: space-between;
        list-style: none;

        @include respond(tab-port) {
            justify-content: space-between;         
        }  
    }    
    

    &__item {
   
    }

    &__link {        

        &:link,
        &:visited {
            color: $color-grey-light-1;
            background-color: $color-grey-dark-3;
            text-decoration: none;
            text-transform: uppercase;
            display: inline-block;
            transition: all .2s;
        }
        
        &:hover,
        &:active {
            color: $color-primary;
            box-shadow: 0 1rem 2rem rgba($color-black, .4);
            transform: rotate(-5deg) scale(1.15);
        }
    }
    
    &__copyright {
        border-top: 1px solid $color-grey-dark;
        padding-top: 2rem;        
    }
}