// top doesn't get cropped out when resizing with backposition 
// Polygon x and y are clockwise (top-left -> top-right -> botttom-right -> bottom-left)
// Clippy is a handy tool for this
// Could be treated as a layout or component, I chose component because it feels like one

.header {
    height: 85vh;
    background-image: linear-gradient(
        to right bottom,
        rgba($color-primary-light ,0.8),
        rgba($color-primary-dark, 0.8)),
        url('../img/hero-small.jpg');
    background-size: cover;
    background-position: top;
    position: relative;    
    
    // numbers in the supports arguments are irrelevant so set them to 0 0
    @supports (clip-path: polygon(0 0)) or (-webkit-clip-path: polygon(0 0)) {
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
        clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
    }

    // 192 dots per inch, if resolution is higher, apply the bigger image
    // and if the width is larger than 600px
    // and 2x screens for safari
    // or use the large image on either resolution but above 2000px
    @media (min-resolution: 192dpi) and (min-width: 37.5em),
           (-webkit-min-device-pixel-ratio: 2) and (min-width: 37.5em),
           (min-width: 125em) {
        background-image: linear-gradient(
        to right bottom,
        rgba($color-primary-light ,0.8),
        rgba($color-primary-dark, 0.8)),
        url('../img/hero.jpg');
    }

    @include respond(phone) {
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);
        clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);
    }

    // top and left start counting from the parents element which has its position set to relative (header)
    &__logo-box {
        position: absolute;
        top: 4rem;
        left: 4rem;
    }

    // Width will be scaled automatically by the browser, no need to specify
    &__logo {
        height: 3.5rem;
    }

    // The box is center in the header but the content within should shift to the center as well, so we shift the x and y axis with -50%
    // the top and left value is in relation to the header while the translate is in relation to the element itself
    // Text align centers the button since it's just text
    &__text-box {
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
    }
}

// Backface visibility somehow fixes the shakey animations, it's unclear why for most developers
// Could be moved into typography folder
// I added display: flex later on and removed both display: block from --main and --sub
.heading-primary {
    display: flex;
    flex-direction: column;
    color: $color-white;
    text-transform: uppercase;
    margin-bottom: 60px;

    backface-visibility: hidden;
    

    &--main {
        font-size: 6rem;
        font-weight: 400;
        letter-spacing: 3.5rem;
        
        animation: moveInLeft 1s ease-out;

        @include respond(phone) {
            letter-spacing: 1rem;
            font-size: 5rem;
        }
        
           
        //     animation-delay: 3s; 
        //     animation-iteration-count: 3;
    
    }

    &--sub {
        font-size: 2rem;
        font-weight: 700;
        letter-spacing: 1.75rem;

        @include respond(phone) {
            letter-spacing: .5rem;
        }
    
        animation: moveInRight 1s ease-out;
    }
}

.heading-secondary {
    font-size: 3.5rem;
    text-transform: uppercase;
    font-weight: 700;

    // Now the background is clipped to the text and when the text color is made transparent, the clipped part shows through
    display: inline-block;
    background-image: linear-gradient(to right, $color-primary-light, $color-primary-dark);
    -webkit-background-clip: text;
    background-clip: text;    
    color: transparent;
    letter-spacing: .2rem;
    transition: all 1s;

    &:hover {
        transform: skewY(2deg) skewX(15deg) scale(1.1);
        text-shadow: .5rem 1rem 2rem rgba(black, .2);
    }

    @include respond(tab-port) {
        font-size: 3rem;
    }

    @include respond(phone) {
        font-size: 2.5rem;
    }
}

.heading-tertiary {
    font-size: $default-font-size;
    font-weight: 700;
    text-transform: uppercase;
}