.popup {
    display: flex;
    justify-content: center;
    align-items: center;

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba($color-black, .8);
    z-index: 10000;

    visibility: hidden;
    opacity: 0;
    transition: all .3s;
    
    // when the target in the url (blabla.com/#popup) do the following
    // as soon as its targeted with the href, this target pseudo-class becomes active on the popup element
    &:target {
        visibility: visible;
        opacity: 1;
    }

    &:target &__content {        
        opacity: 1;
        transform: scale(1);
    }
    

    &__content {
        display: flex;
        background-color: $color-white;
        width: 75%;
        border-radius: 3px;
        box-shadow: 0 2rem 4rem rgba($color-black, .2);

        // to fix image overflowing border radius
        overflow: hidden;

        // .2s delay before the transition starts
        transition: all .5s .2s;
        opacity: 0;
        transform: scale(.25);
    }

    &__images {
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 33.33333%;
        box-shadow: 0 2rem 2rem rgba($color-black, .2);        
    }

    &__img {
        width: 100%;
        height: 50%;
    }

    &__text {
        position: relative;        
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 66.666667%;
        padding: 3rem 5rem;        
    }

    &__paragraph {
        font-size: 1.4rem;
        margin-bottom: 4rem;

        column-count: 2;
        column-gap: 4rem;
        column-rule: 1px solid $color-grey-light-2;

        // not supported in Chrome
        hyphens: auto;
        -webkit-hyphens: auto;
    }

    &__btn {
        align-self: flex-start;
    }

    &__close {
        &:link,
        &:visited {
            color: $color-grey-dark;
            position: absolute;
            top: 2.5rem;
            right: 4.5rem;
            font-size: 3rem;
            // set line-height to 1 because the X was taking up more space than it should due to text having pre-defined line-height
            line-height: 1;
            text-decoration: none;
            display: inline-block;
            transition: all .2s;
        }

        &:hover {
            color: $color-primary;
        }        
    }
}