// Utility classes are simply classes used for one thing only, in this case wrap the inline block element (h2) inside this block div to center the text
// It's considered normal to add the important flag to utility classes (don't rely on important anywhere else but here)
.u-center-text {
    text-align: center !important;
}

.u-margin-bottom-small { margin-bottom: 1.5rem !important; }
.u-margin-bottom-medium { 
    margin-bottom: 4rem !important; 

    @include respond(tab-port) {
        margin-bottom: 3rem !important;
    }
}
.u-margin-bottom-big { 
    margin-bottom: 8rem !important; 

    @include respond(tab-port) {
        margin-bottom: 5rem !important;
    }
}

.u-margin-top-big { margin-top: 8rem !important; }
.u-margin-top-huge { margin-top: 10rem !important; }