// Utility classes are simply classes used for one thing only, in this case wrap the inline block element (h2) inside this block div to center the text
.u-center-text {
    text-align: center;
}

.u-margin-bottom-small { margin-bottom: 1.5rem; }
.u-margin-bottom-medium { margin-bottom: 4rem; }
.u-margin-bottom-big { margin-bottom: 8rem; }

.u-margin-top-big { margin-top: 8rem; }
.u-margin-top-huge { margin-top: 10rem; }