// STYLES SPECIFIC TO OUR HOMEPAGE (non-reusable code since this is all specific to the Natour project) 
.section-about {
    background-color: $color-grey-light-1;

    // this margin moves the section into the header to cover up the whitespace left behind from the clipped image (remove the margin to see why) calculated by the vh of the clipped thing
    padding: 25rem 0;
    margin-top: -20vh;
}

// Its modern to add a lot of whitespace with padding like this to create a spacious feeling to it
.section-features {
    padding: 20rem 0;
    background-image: linear-gradient(to right bottom,
        rgba($color-primary-light ,0.8),
        rgba($color-primary-dark, 0.8)),
        url('../img/nat-4.jpg');
    background-size: cover;    
    transform: skewY(-7deg);
    margin-top: -12rem;

    // Select all direct childs (features container that has all the boxes)
    & > * {
        transform: skewY(7deg);
    }           
}

.section-tours {
    background-color: $color-grey-light-1;
    padding: 25rem 0 15rem 0;
    margin-top: -11rem;
}

.section-stories {
    position: relative;
    padding: 15rem 0;
}

.section-book {
    padding: 15rem 0;
    background-image: linear-gradient(to right bottom, $color-primary-light, $color-primary-dark);
}

.booking {
    max-width: $grid-width;
    margin: 0 auto;
}

// setting size to 100% is the same as setting it to 'cover'
// could make a new html element for an image and use clip-path but using linear-gradient is also a way to make a design like this
// I set the value at 49.9% because otherwise the 'line' is jagged for no reason 
.book {
    background-image: linear-gradient(105deg, rgba($color-white, .9) 0%, rgba($color-white, .9) 49.9%, transparent 50%) ,url(../img/nat-10.jpg);
    background-size: 100%;
    border-radius: 3px;
    box-shadow: 0 1.5rem 4rem rgba($color-black, .2);   

    &__form {
        width: 50%;
        padding: 6rem;
    }
}